In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
from uszipcode import Zipcode
from pprint import pprint
import json

source1 = 'AirbnbSept19.csv'
source2 = 'Rolling Sales NYC/rollingsales_brooklyn_2019.csv'
df = pd.read_csv(source1)
df2 = pd.read_csv(source2)

In [75]:
df['price'] = df['price'].astype(float)
df.count

<bound method DataFrame.count of              id                                              name    host_id  \
0          3647               THE VILLAGE OF HARLEM....NEW YORK !       4632
1          3831                   Cozy Entire Floor of Brownstone       4869
2          5022  Entire Apt: Spacious Studio/Loft by central park       7192
3          5099         Large Cozy 1 BR Apartment In Midtown East       7322
4          5121                                   BlissArtsSpace!       7356
...         ...                                               ...        ...
48372  38564068                                 Top Floor Delight  207204450
48373  38564524                             Central Park Elegance    1567562
48374  38566777                              Quiet room available  159902221
48375  38567542              Spacious room in Brooklyn brownstone   68905617
48376  38568081         Petrose home by JFK, Beach &St John Hosp.  293596932

         host_name neighbourhood_group       neighbourhood  latitude  \
0        Elisabeth           Manhattan              Harlem  40.80902
1      LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2            Laura           Manhattan         East Harlem  40.79851
3            Chris           Manhattan         Murray Hill  40.74767
4            Garon            Brooklyn  Bedford-Stuyvesant  40.68688
...            ...                 ...                 ...       ...
48372          Ade            Brooklyn       Cypress Hills  40.67618
48373       Maggie           Manhattan     Upper East Side  40.77326
48374        Nancy            Brooklyn            Bushwick  40.69907
48375         Eric            Brooklyn       Crown Heights  40.66986
48376      Ebangha              Queens        Far Rockaway  40.60315

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.94190     Private room  150.0               3                  0
1      -73.95976  Entire home/apt   89.0               1                279
2      -73.94399  Entire home/apt   80.0              10                  9
3      -73.97500  Entire home/apt  200.0               3                 75
4      -73.95596     Private room   60.0              45                 49
...          ...              ...    ...             ...                ...
48372  -73.90764  Entire home/apt  199.0               2                  0
48373  -73.96650  Entire home/apt  175.0              30                  0
48374  -73.93043     Private room   35.0              30                  0
48375  -73.93772     Private room   79.0               1                  0
48376  -73.75722     Private room   45.0               3                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0             NaN                NaN                               1
1      2019-08-29               4.62                               1
2      2018-11-19               0.10                               1
3      2019-07-21               0.59                               1
4      2017-10-05               0.39                               1
...           ...                ...                             ...
48372         NaN                NaN                               4
48373         NaN                NaN                               1
48374         NaN                NaN                               1
48375         NaN                NaN                              10
48376         NaN                NaN                               1

       availability_365
0                   365
1                   192
2                     0
3                    13
4                     0
...                 ...
48372                42
48373               263
48374                66
48375               322
48376               173

[48377 rows x 16 columns]>

In [3]:
df_slimmed = df[['neighbourhood_group','neighbourhood','price']]

df_nbrhd = df_slimmed.groupby(['neighbourhood_group','neighbourhood']).count()

#df_borough = df_slimmed.groupby(['neighbourhood_group']).mean().reset_index()

In [121]:
# df_neighborhood.head()
df_borough.head()

NameError: name 'df_borough' is not defined

In [4]:
# plt.bar(df_neighborhood['neighbourhood'],df_neighborhood['price'])
# df_neighborhood=df_neighborhood.astype(float)
# plot = df_neighborhood.plot.bar(x='price')
plt.figure(figsize=(10,4))
plt.bar(df_borough['neighbourhood_group'],df_borough['price'],)
plt.title("Average Airbnb Cost by NYC Borough, 2019", size = (20))
plt.ylabel("Cost, One Night ($)", size = (16))
plt.xlabel('Borough', size = (16))

plt.savefig("Airbnb Cost NYC 2019")

NameError: name 'df_borough' is not defined

In [5]:
df_bk_nbrhd = df_nbrhd.loc['Brooklyn'].reset_index()
df_abb_bk_sept = df_bk_nbrhd
df_abb_bk_sept = df_abb_bk_sept.rename(columns = {'neighbourhood':'NEIGHBORHOOD','price':'AirBnB Price'})

df_abb_bk_sept

                 NEIGHBORHOOD  AirBnB Price
0                  Bath Beach            27
1                   Bay Ridge           152
2          Bedford-Stuyvesant          3785
3                 Bensonhurst            80
4                Bergen Beach            14
5                 Boerum Hill           171
6                Borough Park           132
7              Brighton Beach            80
8            Brooklyn Heights           144
9                 Brownsville            65
10                   Bushwick          2411
11                   Canarsie           150
12            Carroll Gardens           219
13               Clinton Hill           561
14                Cobble Hill            97
15                Columbia St            39
16               Coney Island            14
17              Crown Heights          1562
18              Cypress Hills           139
19                      DUMBO            34
20          Downtown Brooklyn            74
21              Dyker Heights            20
22              East Flatbush           482
23              East New York           225
24                   Flatbush           602
25                  Flatlands            85
26                Fort Greene           458
27              Fort Hamilton            55
28            Gerritsen Beach             1
29                    Gowanus           239
30                  Gravesend            72
31                 Greenpoint          1084
32                 Kensington           176
33            Manhattan Beach             8
34                    Midwood           111
35                 Mill Basin             8
36                  Navy Yard            15
37                 Park Slope           483
38           Prospect Heights           345
39  Prospect-Lefferts Gardens           513
40                   Red Hook            78
41                   Sea Gate             9
42             Sheepshead Bay           161
43                South Slope           271
44                Sunset Park           407
45               Vinegar Hill            32
46               Williamsburg          3815
47            Windsor Terrace           151

In [8]:
df2[' SALE PRICE '] = df2[' SALE PRICE '].str.replace(',','').astype(float)
#df2[' SALE PRICE '] = df2[' SALE PRICE '].astype(float)
df2
mask = (df2['SALE DATE'] > '9/0/2019') & (df2['SALE DATE'] <= '9/31/2019')
df2_sept = df2.loc[mask]

In [9]:
df2_nonzero_sept = df2_sept.loc[df2[' SALE PRICE '] > 0]
df2_nbrhd_sept = df2_nonzero_sept.groupby("NEIGHBORHOOD").agg({' SALE PRICE ':'mean'}).reset_index()
df2_nbrhd_sept_count = df2_nonzero_sept.groupby("NEIGHBORHOOD").agg({' SALE PRICE ':'count'}).reset_index()

df2_nbrhd_sept['NEIGHBORHOOD'] = df2_nbrhd_sept['NEIGHBORHOOD'].str.lower()
df2_nbrhd_sept['NEIGHBORHOOD'] = df2_nbrhd_sept['NEIGHBORHOOD'].str.title()
df2_nbrhd_sept_count

                NEIGHBORHOOD   SALE PRICE
0                 BATH BEACH            21
1                  BAY RIDGE            35
2         BEDFORD STUYVESANT            45
3                BENSONHURST            22
4               BERGEN BEACH            16
5                BOERUM HILL             5
6               BOROUGH PARK            49
7             BRIGHTON BEACH            14
8           BROOKLYN HEIGHTS            17
9           BROOKLYN-UNKNOWN            41
10               BROWNSVILLE            12
11             BUSH TERMINAL             2
12                  BUSHWICK            31
13                  CANARSIE            39
14           CARROLL GARDENS             7
15              CLINTON HILL            12
16               COBBLE HILL            10
17          COBBLE HILL-WEST             1
18              CONEY ISLAND            14
19             CROWN HEIGHTS            40
20             CYPRESS HILLS            20
21     DOWNTOWN-FULTON FERRY             6
22      DOWNTOWN-FULTON MALL            10
23        DOWNTOWN-METROTECH            11
24             DYKER HEIGHTS             2
25             EAST NEW YORK            56
26          FLATBUSH-CENTRAL            21
27             FLATBUSH-EAST            35
28  FLATBUSH-LEFFERTS GARDEN             7
29            FLATBUSH-NORTH            24
30                 FLATLANDS             7
31               FORT GREENE            11
32           GERRITSEN BEACH             4
33                   GOWANUS             3
34                 GRAVESEND            32
35                GREENPOINT            14
36                KENSINGTON             6
37                   MADISON            15
38           MANHATTAN BEACH             3
39               MARINE PARK            14
40                   MIDWOOD            24
41                MILL BASIN             5
42                 NAVY YARD             3
43                OCEAN HILL            14
44       OCEAN PARKWAY-NORTH            24
45       OCEAN PARKWAY-SOUTH            14
46            OLD MILL BASIN            16
47                PARK SLOPE            29
48          PARK SLOPE SOUTH             8
49          PROSPECT HEIGHTS            13
50                   SEAGATE             1
51            SHEEPSHEAD BAY            36
52              SPRING CREEK             5
53               SUNSET PARK            13
54      WILLIAMSBURG-CENTRAL             5
55         WILLIAMSBURG-EAST            33
56        WILLIAMSBURG-NORTH            18
57        WILLIAMSBURG-SOUTH             8
58           WINDSOR TERRACE             5
59           WYCKOFF HEIGHTS             2

In [10]:
pd.set_option("display.max_rows", 101)
df_bk_sept_19 = pd.merge(df_abb_bk_sept,df2_nbrhd_sept, on = 'NEIGHBORHOOD',how = 'outer')
df_bk_sept_19

                 NEIGHBORHOOD  AirBnB Price   SALE PRICE
0                  Bath Beach          27.0  1.373982e+06
1                   Bay Ridge         152.0  8.110860e+05
2          Bedford-Stuyvesant        3785.0           NaN
3                 Bensonhurst          80.0  1.155374e+06
4                Bergen Beach          14.0  6.686562e+05
5                 Boerum Hill         171.0  5.656700e+05
6                Borough Park         132.0  1.288708e+06
7              Brighton Beach          80.0  7.235991e+05
8            Brooklyn Heights         144.0  1.557403e+06
9                 Brownsville          65.0  4.582092e+05
10                   Bushwick        2411.0  1.008909e+06
11                   Canarsie         150.0  6.124224e+05
12            Carroll Gardens         219.0  2.191286e+06
13               Clinton Hill         561.0  7.996267e+05
14                Cobble Hill          97.0  2.739146e+06
15                Columbia St          39.0           NaN
16               Coney Island          14.0  4.029643e+05
17              Crown Heights        1562.0  8.800823e+05
18              Cypress Hills         139.0  6.658716e+05
19                      DUMBO          34.0           NaN
20          Downtown Brooklyn          74.0           NaN
21              Dyker Heights          20.0  9.875000e+05
22              East Flatbush         482.0           NaN
23              East New York         225.0  6.024170e+05
24                   Flatbush         602.0           NaN
25                  Flatlands          85.0  3.933803e+05
26                Fort Greene         458.0  2.147490e+06
27              Fort Hamilton          55.0           NaN
28            Gerritsen Beach           1.0  4.410025e+05
29                    Gowanus         239.0  6.253367e+05
30                  Gravesend          72.0  2.925101e+06
31                 Greenpoint        1084.0  3.679057e+06
32                 Kensington         176.0  5.587388e+05
33            Manhattan Beach           8.0  1.246083e+06
34                    Midwood         111.0  9.161076e+05
35                 Mill Basin           8.0  1.402000e+06
36                  Navy Yard          15.0  3.774167e+07
37                 Park Slope         483.0  1.871877e+06
38           Prospect Heights         345.0  1.378991e+06
39  Prospect-Lefferts Gardens         513.0           NaN
40                   Red Hook          78.0           NaN
41                   Sea Gate           9.0           NaN
42             Sheepshead Bay         161.0  1.245062e+06
43                South Slope         271.0           NaN
44                Sunset Park         407.0  2.079000e+06
45               Vinegar Hill          32.0           NaN
46               Williamsburg        3815.0           NaN
47            Windsor Terrace         151.0  7.970020e+05
48         Bedford Stuyvesant           NaN  1.050683e+06
49           Brooklyn-Unknown           NaN  1.276561e+06
50              Bush Terminal           NaN  2.449450e+06
51           Cobble Hill-West           NaN  1.855000e+06
52      Downtown-Fulton Ferry           NaN  4.708333e+06
53       Downtown-Fulton Mall           NaN  4.928200e+06
54         Downtown-Metrotech           NaN  1.272445e+07
55           Flatbush-Central           NaN  9.843576e+05
56              Flatbush-East           NaN  1.834620e+06
57   Flatbush-Lefferts Garden           NaN  1.534214e+06
58             Flatbush-North           NaN  6.578779e+05
59                    Madison           NaN  7.623280e+05
60                Marine Park           NaN  7.078447e+05
61                 Ocean Hill           NaN  1.190726e+06
62        Ocean Parkway-North           NaN  8.895833e+05
63        Ocean Parkway-South           NaN  9.232150e+05
64             Old Mill Basin           NaN  6.179062e+05
65           Park Slope South           NaN  9.500751e+05
66                    Seagate           NaN  9.200000e+05
67               Spring Creek           NaN  5.271016e+05
68       Williamsburg-Central           NaN  4.876000e+05
69          Williamsburg-East           NaN  1.836642e+06
70         Williamsburg-North           NaN  1.201871e+06
71         Williamsburg-South           NaN  1.926055e+06
72            Wyckoff Heights           NaN  1.845000e+06

In [74]:
coords = search.by_coordinates(40.80902,-73.94190, radius = 0.5, returns = 1)

# print(coords)

def ziplocate(x,y):
    airbnb_zip = []
    airbnb_zip.append(search.by_coordinates(x,y, returns = 1)[0].zipcode)
    print(airbnb_zip)
# def medhomeval(z):
#     return(search.by_zipcode(z).median_home_value)
# def medhomeincome(z):
#     return(search.by_zipcode(z).median_household_income)

# for index,row in df.iterrows():
#     ziplocate(df['latitude'][index],df['longitude'][index])

airbnb_lat = list(df['latitude'])[0:500]
airbnb_lng = list(df['longitude'])[0:500]
for x,y in zip(airbnb_lat,airbnb_lng):
    ziplocate(x,y)

['10037']
['11238']
['10026']
['10017']
['11238']
['10018']
['10025']
['10009']
['10002']
['10025']
['10018']
['11215']
['10026']
['10014']
['11211']
['11205']
['10011']
['11216']
['10026']
['11211']
['11217']
['11217']
['11216']
['11218']
['10034']
['10019']
['10003']
['10030']
['10027']
['11222']
['10030']
['11216']
['11215']
['11237']
['11237']
['11210']
['10002']
['10002']
['11215']
['11205']
['10162']
['10037']
['11225']
['11109']
['11238']
['11216']
['11205']
['11216']
['10162']
['11206']
['11222']
['10016']
['11211']
['10017']
['10002']
['10199']
['11222']
['10012']
['11211']
['10119']
['10044']
['11231']
['11238']
['11205']
['10018']
['11215']
['10009']
['11205']
['10002']
['10035']
['10002']
['10018']
['10039']
['11238']
['10003']
['11377']
['11377']
['11205']
['10011']
['11211']
['10031']
['10002']
['11226']
['11201']
['11211']
['10002']
['10009']
['11211']
['11206']
['11217']
['11238']
['11217']
['11211']
['11237']
['10025']
['10031']
['10011']
['11233']
['10031']
['11231']
['10012']
['11211']
['11215']
['11233']
['11211']
['10037']
['11217']
['10199']
['11238']
['10009']
['11215']
['10009']
['10016']
['11211']
['10009']
['11215']
['10031']
['11215']
['10023']
['10002']
['11225']
['10028']
['11216']
['10030']
['11238']
['10002']
['11222']
['10019']
['11210']
['11238']
['11221']
['11238']
['11222']
['10009']
['11231']
['11355']
['11221']
['11211']
['11211']
['11205']
['11238']
['11211']
['11238']
['10029']
['10012']
['11211']
['10028']
['11217']
['10044']
['11211']
['11104']
['11216']
['11201']
['10065']
['11215']
['10031']
['11238']
['11231']
['10301']
['11237']
['10039']
['11205']
['10009']
['10006']
['11205']
['10011']
['10003']
['10030']
['10011']
['10039']
['11217']
['11385']
['10027']
['11211']
['11217']
['11216']
['11217']
['10044']
['11216']
['10011']
['10002']
['11215']
['10044']
['10002']
['10199']
['11434']
['10018']
['11206']
['11379']
['11385']
['11379']
['11211']
['10019']
['10026']
['11217']
['10037']
['10039']
['10026']
['11211']
['11221']
['10003']
['10012']
['11211']
['11217']
['10009']
['11222']
['10030']
['11105']
['11231']
['10003']
['10019']
['10003']
['10001']
['10037']
['10039']
['11218']
['11106']
['10002']
['11385']
['10022']
['10278']
['10029']
['10037']
['10030']
['10009']
['10026']
['10037']
['10002']
['10026']
['10002']
['10152']
['10003']
['11233']
['10301']
['10301']
['10009']
['10162']
['10301']
['10009']
['10011']
['11222']
['10009']
['11211']
['10301']
['11377']
['11218']
['11215']
['10473']
['10466']
['11216']
['10002']
['11216']
['10034']
['11211']
['10003']
['11216']
['11216']
['11216']
['11216']
['10009']
['10023']
['11216']
['11211']
['10009']
['11211']
['11211']
['10039']
['11215']
['11231']
['10003']
['10002']
['10027']
['11217']
['11217']
['10002']
['10026']
['11211']
['10026']
['10025']
['10031']
['11233']
['10162']
['11231']
['11222']
['10002']
['10023']
['11237']
['10034']
['10003']
['11231']
['10009']
['10039']
['10002']
['10012']
['11222']
['10468']
['10023']
['11222']
['11211']
['11211']
['10037']
['10026']
['11102']
['11222']
['11211']
['10002']
['11215']
['11109']
['10018']
['11217']
['11238']
['11211']
['10002']
['11109']
['11109']
['11217']
['11109']
['11201']
['11201']
['11216']
['11233']
['11217']
['11222']
['10009']
['11109']
['11216']
['10003']
['10038']
['10002']
['10037']
['11238']
['11216']
['11216']
['11103']
['11213']
['11221']
['11238']
['11211']
['11206']
['11238']
['10119']
['10029']
['11217']
['10034']
['11423']
['11215']
['10011']
['11211']
['10162']
['11211']
['11109']
['10003']
['11692']
['10031']
['11238']
['11222']
['10069']
['10001']
['11238']
['10026']
['10028']
['11205']
['11216']
['11215']
['10002']
['10154']
['10031']
['10030']
['11102']
['11216']
['11201']
['11221']
['10003']
['11206']
['11222']
['11217']
['10026']
['10003']
['11221']
['11218']
['10003']
['10025']
['11215']
['10030']
['11222']
['11375']
['10014']
['10119']
['11211']
['10017']
['11211']
['11226']
['11217']
['10011']
['11217']
['11222']
['11216']
['11211']
['11238']
['10009']
['11217']
['11217']
['10002']
['10012']
['10009']
['10026']
['10002']
['11211']
['10011']
['10162']
['10012']
['11211']
['10025']
['10029']
['10470']
['10002']
['11103']
['11211']
['11215']
['10009']
['10030']
['10026']
['11104']
['11222']
['10009']
['11216']
['11233']
['11211']
['11238']
['11222']
['11211']
['11216']
['11216']
['10011']
['10009']
['11104']
['11211']
['10031']
['11211']
['11216']
['11205']
['10026']
['10003']
['11222']
['10012']
['11231']
['10027']
['11104']
['10026']
['10032']
['11231']
['10011']
['11217']
['11217']
['10009']
['11215']
['10023']
['10009']
['11216']
['10453']
['11205']
['11223']
['10029']
['11217']
['10199']
['10027']
['11222']
['10009']
['10009']
['11221']
['10019']
['11238']
['11222']
['10011']
['10016']
['10002']
['10012']
['11103']
['11103']
['10031']
['10029']
['10011']
['10469']
['11211']
['11211']
['11206']
['10011']
['11217']
['10003']
['10011']
['11208']
['11213']
['10021']
['11216']
['11238']
['11215']
['10009']
['10011']
['10019']
['11211']