In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#this is a function online for zipcode generation (it can also give us median household income but it's unclear when it has been last updated)
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
from uszipcode import Zipcode

#these two don't end up being used yet
from pprint import pprint
import json


abb_sept_2018 = 'AirBnB Listings/September2018.csv'
abb_oct_2018 = 'AirBnB Listings/October2018.csv'
abb_nov_2018 = 'AirBnB Listings/November2018.csv'
abb_dec_2018 = 'AirBnB Listings/December2018.csv'
abb_jan_2019 = 'AirBnB Listings/January2019.csv'
abb_feb_2019 = 'AirBnB Listings/February2019.csv'
abb_mar_2019 = 'AirBnB Listings/March2019.csv'

df_abb_sept_2018 = pd.read_csv(abb_sept_2018)
df_abb_oct_2018 = pd.read_csv(abb_oct_2018)
df_abb_nov_2018 = pd.read_csv(abb_nov_2018)
df_abb_dec_2018 = pd.read_csv(abb_dec_2018)
df_abb_jan_2019 = pd.read_csv(abb_jan_2019)
df_abb_feb_2019 = pd.read_csv(abb_feb_2019)
df_abb_mar_2019 = pd.read_csv(abb_mar_2019)

In [4]:
#Made function to run variables through the search.by_coordinates and append output to a list

def ziplocate(x,y):
    return search.by_coordinates(x,y, returns = 1)[0].zipcode
def newdfwithzips(df_abb_month):
    zipcode_list = []

    for index,row in df_abb_month.iterrows():
        zipcode = ziplocate(row['latitude'],row['longitude'])    
        zipcode_list.append(zipcode)
    
    df_abb_month['zipcode'] = zipcode_list
    return df_abb_month


df_list = [df_abb_sept_2018,
           df_abb_oct_2018,
           df_abb_nov_2018,
           df_abb_dec_2018,
           df_abb_jan_2019,
           df_abb_feb_2019,
           df_abb_mar_2019]
df_new_list = []


for x, df_that_were_working_on in enumerate(df_list):
    print(f"Working on datafram number {x}")
    new_df = newdfwithzips(df_that_were_working_on)
    df_new_list.append(new_df)

    
# newdfwithzips(df_abb_oct_2018)
# newdfwithzips(df_abb_nov_2018)
# newdfwithzips(df_abb_dec_2018)

    
# airbnb_lat = list(df_abb_oct_2018['latitude'])
# airbnb_lng = list(df_abb_oct_2018['longitude'])
# for x,y in zip(airbnb_lat,airbnb_lng):
#     ziplocate(x,y)

Working on datafram number 0
Working on datafram number 1
Working on datafram number 2
Working on datafram number 3
Working on datafram number 4
Working on datafram number 5
Working on datafram number 6

In [8]:
df_abb_sept_2018.to_csv("AirBnB Listings/with zipcodes/df_abb_sept_2018.csv",index=False)
df_abb_oct_2018.to_csv("AirBnB Listings/with zipcodes/df_abb_oct_2018.csv",index=False)
df_abb_nov_2018.to_csv("AirBnB Listings/with zipcodes/df_abb_nov_2018.csv",index=False)
df_abb_dec_2018.to_csv("AirBnB Listings/with zipcodes/df_abb_dec_2018.csv",index=False)
df_abb_jan_2019.to_csv("AirBnB Listings/with zipcodes/df_abb_jan_2019.csv",index=False)
df_abb_feb_2019.to_csv("AirBnB Listings/with zipcodes/df_abb_feb_2019.csv",index=False)
df_abb_mar_2019.to_csv("AirBnB Listings/with zipcodes/df_abb_mar_2019.csv",index=False)

In [6]:

df_abb_jan_2019
df_abb_mar_2019

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,zipcode
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.23,6,365,11218
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,43,2019-01-02,0.38,2,365,10110
2,3330,++ Brooklyn Penthouse Guestroom ++,4177,Jbee,Brooklyn,Williamsburg,40.70856,-73.94236,Private room,70,5,39,2018-12-07,0.35,3,217,11211
3,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,10037
4,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,239,2019-03-03,4.43,1,164,11238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49743,32848199,"Cozy, Confortable and Nice place in Bay Ridge",246910562,Stefany,Brooklyn,Bay Ridge,40.63114,-74.02529,Private room,53,1,0,NaN,NaN,1,174,11220
49744,32849284,Chic Studio in Williamsburg,6657574,Gene,Brooklyn,Williamsburg,40.71262,-73.95842,Entire home/apt,149,2,0,NaN,NaN,3,346,11211
49745,32849527,Designer Apt Next 538 acres Park Near JFK and LG,151282236,Sigrid,Queens,Richmond Hill,40.70162,-73.84071,Entire home/apt,95,1,0,NaN,NaN,1,79,11351
49746,32850062,Master Bedroom for 3 guests heart of East Vill...,95892016,Leonora,Manhattan,Stuyvesant Town,40.73008,-73.97776,Private room,150,1,0,NaN,NaN,7,104,10009
49747,32858895,Live like a true New Yorker!,8454981,Artez,Manhattan,Hell's Kitchen,40.75711,-73.99796,Entire home/apt,150,3,0,NaN,NaN,1,47,10199