In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
source1 = "Zillow/Zip_MedianListingPrice_AllHomes.csv"
salesprice_df = pd.read_csv(source1)
salesprice_df.head()

,RegionName,City,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10
0,10025,New York,NY,New York-Newark-Jersey City,New York County,1,795000.0,775000.0,799000.0,744500.0,...,1050000.0,1149500.0,1275000.0,1224500.0,1195000.0,1195000.0,1195000.0,1199000.0,1195000.0,1195000.0
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,389900.0,380950.0,369900.0,375000.0,...,445000.0,439950.0,445000.0,450000.0,462250.0,464900.0,460000.0,459900.0,458000.0,450000.0
2,10023,New York,NY,New York-Newark-Jersey City,New York County,3,NaN,NaN,NaN,NaN,...,1795000.0,1750000.0,1695000.0,1700000.0,1786500.0,1750000.0,1725000.0,1752500.0,1820000.0,1800000.0
3,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,287478.0,286808.0,290495.0,289900.0,...,350000.0,354450.0,350000.0,355990.0,355000.0,359978.5,359900.0,365000.0,365000.0,359700.0
4,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,482400.0,469000.0,459000.0,449000.0,...,675000.0,669900.0,650000.0,630000.0,615000.0,600000.0,599000.0,599000.0,619900.0,649000.0

In [7]:
#Restricted to months of interest
df_trim_salesprice = salesprice_df[['RegionName','City','2018-09','2018-10','2018-11','2018-12','2019-01','2019-02','2019-03']]
df_trim_salesprice.head()

#Restricted to NY City Zipcodes only
df_NY_saleprice = df_trim_salesprice[df_trim_salesprice['City']== 'New York']

#Renaming columns
df_NY_saleprice = df_NY_saleprice.rename(columns = {'RegionName':'Zipcode'})

df_NY_saleprice

,Zipcode,City,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03
0,10025,New York,1195000.0,1099999.0,1040000.0,1027500.0,1050000.0,1149500.0,1275000.0
2,10023,New York,1725000.0,1749500.0,1749000.0,1795000.0,1795000.0,1750000.0,1695000.0
6,10002,New York,1500000.0,1541500.0,1575000.0,1565000.0,1551000.0,1539000.0,1495000.0
10,11226,New York,600000.0,595000.0,570000.0,574100.0,573200.0,585000.0,575000.0
13,10016,New York,1250000.0,1279000.0,1284500.0,1295000.0,1289000.0,1296500.0,1275000.0
...,...,...,...,...,...,...,...,...,...
8546,10307,New York,764500.0,760300.0,732000.0,725000.0,700000.0,699998.0,699499.0
8830,10069,New York,2655000.0,2740000.0,2799000.0,2810000.0,2897500.0,2750000.0,2772500.0
9116,10007,New York,4075000.0,4025000.0,3999950.0,3947500.0,3885000.0,3887500.0,3795000.0
9768,11363,New York,1080000.0,1039000.0,998000.0,968500.0,948000.0,948000.0,999000.0
10391,11005,New York,499000.0,499000.0,499000.0,499000.0,572000.0,572000.0,579999.0

In [8]:
source2 = "Zillow/Zip_MedianRentalPrice_AllHomes.csv"
rentalprice_df = pd.read_csv(source2)
rentalprice_df.head()

,RegionName,City,State,Metro,CountyName,SizeRank,2010-02,2010-03,2010-04,2010-05,...,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10
0,10025,New York,NY,New York-Newark-Jersey City,New York County,1,NaN,NaN,NaN,NaN,...,3400.0,3400.0,3400.0,3400.0,3500.0,3495.0,3440.0,3500.0,3500.0,3500.0
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,NaN,NaN,NaN,NaN,...,1800.0,1741.5,1800.0,1895.0,1950.0,1900.0,1912.5,2000.0,1937.5,1950.0
2,10023,New York,NY,New York-Newark-Jersey City,New York County,3,NaN,NaN,3425.0,3275.0,...,3700.0,3600.0,3500.0,3575.0,3695.0,3587.5,3550.0,3600.0,3600.0,3696.0
3,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,NaN,NaN,NaN,NaN,...,2000.0,2050.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0
4,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,NaN,NaN,NaN,NaN,...,2095.0,2000.0,2100.0,2250.0,2300.0,2250.0,2100.0,2200.0,2254.0,2249.0

In [9]:
#Restricted to months of interest
df_trim_rentalprice = rentalprice_df[['RegionName','City','2018-09','2018-10','2018-11','2018-12','2019-01','2019-02','2019-03']]
df_trim_rentalprice.head()

#Restricted to NY City Zipcodes only
df_NY_rentalprice = df_trim_rentalprice[df_trim_rentalprice['City']== 'New York']

#Renaming columns
df_NY_rentalprice = df_NY_rentalprice.rename(columns = {'RegionName':'Zipcode'})

df_NY_rentalprice

,Zipcode,City,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03
0,10025,New York,3400.0,3385.0,3400.0,3445.0,3400.0,3400.0,3400.0
2,10023,New York,3650.0,3775.0,3750.0,3700.0,3700.0,3600.0,3500.0
6,10002,New York,3325.0,3200.0,3195.0,3197.5,3100.0,3195.0,3160.0
10,11226,New York,1725.0,1750.0,1700.0,1800.0,1700.0,1687.5,1650.0
11,10467,New York,1425.0,1450.0,1395.0,1395.0,1500.0,1500.0,1550.0
...,...,...,...,...,...,...,...,...,...
3418,11109,New York,2863.0,2880.0,2863.0,2854.0,2863.0,2847.5,2835.0
3429,10069,New York,4350.0,4070.0,4100.0,4052.5,4080.0,4017.5,4100.0
3440,10282,New York,5187.5,5100.0,5150.0,5100.0,5150.0,5187.5,5187.5
3442,10006,New York,3695.0,3550.0,3600.0,3700.0,3700.0,3895.0,3672.5
3444,10004,New York,3995.0,3995.0,3972.5,3972.5,3995.0,3995.0,3972.5

In [10]:
source3 = "Zillow/Sale_Counts_Zip.csv"
SaleCounts_df = pd.read_csv(source3)
SaleCounts_df.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,seasAdj
0,61639,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,...,34.0,47.0,57.0,36.0,68.0,79.0,66.0,60.0,55.0,0
1,84654,60657,Illinois,2,NaN,NaN,NaN,NaN,NaN,NaN,...,77.0,111.0,161.0,194.0,159.0,188.0,144.0,125.0,130.0,0
2,61637,10023,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,42.0,62.0,40.0,60.0,83.0,76.0,83.0,89.0,89.0,0
3,91982,77494,Texas,4,59.0,80.0,85.0,101.0,120.0,97.0,...,116.0,187.0,219.0,238.0,239.0,277.0,220.0,179.0,NaN,0
4,84616,60614,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,...,78.0,150.0,177.0,207.0,216.0,203.0,192.0,163.0,137.0,0

In [12]:
#Restricted to months of interest
df_trim_SaleCounts = SaleCounts_df[['RegionName','StateName','2018-09','2018-10','2018-11','2018-12','2019-01','2019-02','2019-03']]
df_trim_SaleCounts.head()

#Restricted to NY City Zipcodes only
df_NY_SaleCounts = df_trim_SaleCounts[df_trim_SaleCounts['StateName']== 'New York']

#Renaming columns
df_NY_SaleCounts = df_NY_SaleCounts.rename(columns = {'RegionName':'Zipcode'})

df_NY_SaleCounts

,Zipcode,StateName,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03
0,10025,New York,60.0,45,63,50.0,74.0,34.0,47.0
2,10023,New York,56.0,86,56,68.0,78.0,42.0,62.0
6,10002,New York,13.0,21,15,26.0,12.0,17.0,20.0
13,10016,New York,50.0,75,69,60.0,48.0,55.0,51.0
20,10009,New York,15.0,15,13,15.0,3.0,5.0,10.0
...,...,...,...,...,...,...,...,...,...
31471,501,New York,0.0,0,0,0.0,0.0,0.0,0.0
31516,10020,New York,0.0,0,0,0.0,0.0,0.0,0.0
31519,10118,New York,0.0,1,1,1.0,1.0,1.0,1.0
31522,11359,New York,0.0,0,0,0.0,0.0,0.0,0.0
31524,13362,New York,0.0,0,0,0.0,0.0,0.0,0.0